<div class="container amort">
  <div class="row amort_info">
    <div class="col-sm-11">
      <h3>Données et tableau d'amortissement </h3>
    </div>
    <div class="col-sm-1">
      <%= link_to loan_path(@loan), method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="click to delete"></i>
      <% end %>
    </div>
    <div class="col-sm-6">
        <table class="amort_info1" >
          <tr>
            <td>Emprunteur</td>
            <td><%= @loan.lender %></td>
          </tr>
          <tr>
            <td>Prêteur</td>
            <td><%= @loan.borrower %></td>
          </tr>
          <tr>
            <td>Montant d'emprunt </td>
            <td><%= display_amount(@loan.principal)  %></td>

          </tr>
          <tr>
            <td>taux annuel </td>
            <td><%= display_rate(@loan.annual_rate) %></td>
          </tr>
      </table>
    </div>
    <div class="col-sm-6">
        <table class="amort_info2" >
            <tr>
              <td>Last Due Date</td>
              <td><%= display_date(@schedule.last.due_date) %></td>
            </tr>
            <tr>
              <td>Total interest</td>
              <td><%= display_amount(@schedule.inject(0){|sum,line| sum + line.interest_due }) %></td>
            </tr>
            <tr>
              <td>Total Principal</td>
              <td><%= display_amount(@schedule.inject(0){|sum,line| sum + line.principal_due } ) %></td>
            </tr>
        </table>
    </div>
  </div>

  <div class="row amort_row">
    <div class="col-sm-12 text-align ">

      <% if @loan.tokeep == false %>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h3>Vérifier le tableau d'amortissement de votre prêt puis : </h3>
            </div>
            <div class="col-sm-6">
                <%= form_tag keep_to_true_loan_path(@loan.id), method: :patch do  %>
                  <%= submit_tag 'Sauvegarder',  class: "btn btntokeep"%>
                 <% end  %>
            </div>
          </div>
        </div>
      <% end %>

      <table class="amort_table" >
        <thead>
          <tr class="title_table">
            <th width="10%">No</th>
            <th>Due Date</th>
            <th>Interest Due</th>
            <th>Principal Due</th>
            <th>Payment Due</th>
            <th>Principal Balance</th>
          </tr>
        </thead>
        <tbody>
          <% @schedule.each do |line| %>
            <tr class="line_table">
              <td><%= line.no %></td>
              <td><%= display_date(line.due_date)%></td>
              <td><%= display_amount(line.interest_due) %></td>
              <td><%= display_amount(line.principal_due)%></td>
              <td><%= display_amount(line.payment_due) %></td>
              <td><%= display_amount(line.principal_balance) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



