<h1>Saisissez les informations suivantes : </h1>
<%= simple_form_for @loan, wrapper: :horizontal_form, html: { class: 'form-horizontal form-new-loan'} do |f| %>
  <%= f.input :lender, label: 'Prêteur',  placeholder: 'Votre Banque', error: 'Lender is mandatory, please specify one'%>
  <%= f.input :borrower, label: 'Emprunteur', placeholder: 'SAS ET', error: 'Borrower is mandatory, please specify one'%>
  <%= f.input :principal, label: 'Montant (€)', placeholder: '100 000.50' ,error: 'principal is mandatory, please specify one'%>
  <%= f.input :termLength , label: 'Durée (années)', placeholder: '10' %>
  <%= f.input :annualRate, label: 'Taux annuel (%)', placeholder: '1.254'%>
  <%= f.input :typeLoan, label: 'Type d emprunt', collection: ["K+I constant"], include_blank: false%>
  <%= f.input :frequencyPayment, label: 'Echéances', collection: ["mensuelles", "trimestrielles", "semestrielles", "annuelles"], include_blank: false %>
  <%= f.input :StartingMonthDelayed, label: 'Différé de remboursement du capital (mois)' %>
  <%= f.input :comment, label: 'Commentaires' %>
  <%= f.input :firstPaymentDate , label: 'Date 1ère échéance' %>
  <%= f.submit value: "Voir le tableau d'amortissement ", class:"btn btn-primary " %>
<% end %>
