<h1>Saisissez les informations suivantes : </h1>
<%= simple_form_for @loan, wrapper: :horizontal_form, html: { class: 'form-horizontal form-new-loan'} do |f| %>
  <!-- lender -->
  <%= f.input :lender,  input_html: { id: 'lender1'}, collection: @lenders , label: 'Prêteur',  error: 'Lender is mandatory, please specify one'%>
  <div id ="divlender2" class = "hidden">
    <%= f.input :lender,  input_html: { id: 'lender2'}, label: 'Autre prêteur', error: 'Lender is mandatory, please specify one'%>
  </div>
  <!-- borrower  -->
  <%= f.input :borrower, input_html: { id: 'borrower1'},collection: @borrowers ,label: 'Emprunteur', error: 'Borrower is mandatory, please specify one'%>
  <div id ="divborrower2" class = "hidden">
    <%= f.input :borrower,  input_html: { id: 'borrower2'}, label: 'Autre emprunteur', error: 'Borrower is mandatory, please specify one'%>
  </div>
  <%= f.input :principal, label: 'Montant (€)', placeholder: '100 000.50' ,error: 'principal is mandatory, please specify one'%>
  <%= f.input :term_length , label: 'Durée (mois)', placeholder: '120' %>
  <%= f.input :annual_rate, label: 'Taux annuel (%)', placeholder: '1.254'%>
  <%= f.input :type_loan, label: 'Type d emprunt', collection: ["K+I constant"], include_blank: false%>
  <%= f.input :frequency_payment, label: 'Echéances', collection: ["mensuelles", "trimestrielles", "semestrielles", "annuelles"], include_blank: false %>
  <%= f.input :starting_month_delayed, label: 'Différé de remboursement du capital (mois)' %>
  <%= f.input :comment, label: 'Commentaires' %>
  <%= f.input :first_payment_date , as: :string, label: 'Date 1ère échéance', input_html: {class: "datepicker"}  %>
  <%= f.submit value: "Voir le tableau d'amortissement ", class:"btn btn-primary " %>
<% end %>
