<div class="container indexcontainer">
  <div class="row">
    <div class="col-xs-12">
      <!-- button to add a loan  -->
      <%= link_to new_loan_path do %>
      <i class="fa fa-plus-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ajouter une dette"></i>
      <% end %>
      <!-- index all loans  -->
      <%= render 'recap_tab' %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
      <%= due_per_period %>
      <p> </p>
      <%= bar_chart @loans.group(:lender).count, height: '500px'%>
      <p> </p>
      <p> </p>
      <%= loans_by_borrower %>
      <p> </p>
      <%= initial_capital_by_borrower %>
    </div>
  </div>
</div>


