<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <%= simple_form_for @loan do |f| %>
        <%= f.input :lender, label: 'Prêteur', error: 'Lender is mandatory, please specify one' %>
        <%= f.input :borrower, label: 'Emprunteur', error: 'Borrower is mandatory, please specify one'%>
        <%= f.input :principal, label: 'Montant emprunté', error: 'principal is mandatory, please specify one'%>
        <%= f.input :termLength , label: 'Durée de l emprunt en année'%>
        <%= f.input :annualRate, label: 'Taux annuel de l emprunt en % '%>
        <%= f.input :typeLoan, label: 'Type de remboursement', collection: ["K+I constant"] %>
        <%= f.input :frequencyPayment, label: 'Fréquence de remboursement', collection: ["mensual"]%>
        <%= f.input :firstPaymentDate , label: 'Date de la première échéance'%>
        <%= f.input :StartingMonthDelayed, label: 'Différé de remboursement du capital en mois' %>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>
    </div>
</div>
</div>



